* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  overflow: hidden;
  background-color: hsl(230, 60%, 10%);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
