* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  overflow: hidden;
  background-color: rgb(10, 15, 41);
}

.webgl {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
